<template>
  <div>
    <button @click="calculateTotal()">click</button>
    <button @click="calculateTotal2()">click2</button>
   
    <Tutorial :searchText="searchText" :searchTextValue="searchTextValue" />
  </div>
</template>

<script lang="ts">
import {
  Vue,
  Component,
  namespace,
  Watch,
  Emit,
} from "nuxt-property-decorator";
import Tutorial from "../components/Tutorial.vue";

//define components like this
@Component({
  components: {
    Tutorial,
  },
})
export default class Laptop extends Vue {

  asyncData() {
    //do something
  }
 
  @Watch("fetchedTodos")
  onChildChanged(val: string, oldVal: string) {
     //do something
  }

  @Emit()
  addToCount(n: number) {
     //do something
  }

//this is computed methods. it must start with "get" or "set".
  get searchText() {
    return this.searchTextValue;
  }
  set searchText(val) {
    this.searchTextValue = val;
  }

  //this is equivalent to parameters that defined in data return
  fetchedTodos: any = [];
  searchTextValue: string = "character";
  laptopPrice: number = 1400;
  quantity: number = 2000;


  //this is how you write methods 
  calculateTotal(): void {
    this.searchTextValue += " a";
  }
  calculateTotal2(): void {
    this.searchText += " a";
  }
  calculateNumber(): number {
    return 1;
  }


}
</script>
